body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
  margin-left: 5px;
}

li {
  list-style: none;
  margin: 10px;
}